<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:src="@{images/wallet.png}">

    <title>DBMS Final Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/my_custom.css"
          th:href="@{css/my_custom.css}"/>
</head>

<body>

<div class="d-flex bg-custom-dark flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
    <a class="" th:href="@{/}"><img class="mb-2 ml-1 mx-3" alt="" width="50" height="50"
                                    th:src="@{images/wallet.png}" src=""></a>
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">DBMS Final Project</h5>
    <form class="mx-auto" action = "/add_card" th:action="@{/add_card}" method="post">
        <input id="selected_bank_id_add_card" name="selected_bank_id_add_card" th:value="${ref_bank_id}" type="hidden">
        <button class="mx-auto btn btn-lg btn-primary text-uppercase" type="submit">Add a Card</button>
    </form>
    <form class="form-inline my-2 my-lg-0 mx-2 align-self-center" action="/view_banks"
          th:action="@{/view_banks}" method="post">
        <button class="btn btn-outline-primary bg-primary text-light" type="submit">View Banks</button>
    </form>
    <form class="form-inline my-2 my-lg-0 mx-2 align-self-center" action="/search_bank_by_name"
          th:action="@{/search_bank_by_name}" method="post">
        <input class="form-control mr-sm-2" type="text" id="bankSearch" name="bankSearch" placeholder="Search"
               aria-label="bankSearch">
        <button class="btn btn-outline-primary bg-primary text-light" type="submit">Search</button>
    </form>
    <div th:if="${userLoggedIn == true}">
        <a class="btn btn-outline-primary bg-primary text-light mx-2" th:href="@{edit_profile.html}">Edit Profile</a>
        <a class="btn btn-outline-primary bg-primary text-light mx-2" th:href="@{/logout}">Log out</a>
    </div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">The Future of Card Buying</h1>
</div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Benefits</th>
            <th>Rating</th>
            <th>Rewards</th>
            <th>Poster</th>
            <th>Bank Id</th>
            <th>Card Price</th>
        </tr>
        <tr th:each="bankcard : ${bankcards}">
            <td><span th:text="${bankcard.bankcard_id}">Id</span></td>
            <td><span th:text="${bankcard.card_name}">Name</span></td>
            <td><span th:text="${bankcard.card_type}">Type</span></td>
            <th><span th:text="${bankcard.card_benefits}">Benefits</span></th>
            <th><span th:text="${bankcard.card_rating}">Rating</span></th>
            <th><span th:text="${bankcard.card_rewards}">Rewards</span></th>
            <th><span th:text="${bankcard.card_poster}">Poster</span></th>
            <th><span th:text="${bankcard.ref_bank_id}">Bank Id</span></th>
            <th><span th:text="${bankcard.card_price}">Card Price</span></th>

            <td>
                <form class="mx-auto" action = "/update_card" th:action="@{/update_card}" method="post">
                    <input id="card_id_to_update" name="card_id_to_update" th:value="${bankcard.bankcard_id}" type="hidden">
                    <button class="mx-auto btn btn-lg btn-primary text-uppercase" type="submit">Update details</button>
                </form>
            </td>
            <td>
                <form class="mx-auto" action = "/delete_card" th:action="@{/delete_card}" method="post">
                    <input class="form-control" id="selected_bank_id_delete_card" name="selected_bank_id_delete_card" th:value="${bankcard.ref_bank_id}" type="hidden">
                    <input class="form-control" id="card_id_to_delete" name="card_id_to_delete" th:value="${bankcard.bankcard_id}" type="hidden">
                    <button class="mx-auto btn btn-lg btn-primary text-uppercase" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" alt="" width="50" height="50" th:src="@{images/wallet.png}" src="">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://unpkg.com/tooltip.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/js/custom_javascript.js" th:src="@{js/custom_javascript.js}"></script>
</body>
</html>

